.box-top {
  position: relative;
  z-index: 999;
  ul {
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.65);

    position: absolute;
    top: -200px;

    background: #fff;
  }
}

.list {
  overflow: auto;
  list-style: none;
  padding: 0;
  padding-left: 10px;
  &__item {
    padding: 5px;
    cursor: pointer;
    &:hover {
      color: #21cead;
      background: rgba(13, 110, 253, 0.12);
    }
  }
}
