<div class="bg-login">
  <!--wrapper-->
  <div class="wrapper">
    <div
      class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0"
    >
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
          <div class="col mx-auto">
            <div class="my-4 text-center">
              <img
                src="assets/images/icons/flex-bi-logo.png"
                width="180"
                alt=""
              />
            </div>
            <div class="card">
              <div class="card-body">
                <div class="border p-4 rounded">
                  <div class="text-center">
                    <h3 class="">Sign Up</h3>
                    <p>
                      Already have an account?
                      <a href="JavaScript:;" (click)="onSignIn()">Sign In</a>
                    </p>
                  </div>

                  <div class="form-body">
                    <form class="row g-3" [formGroup]="signUpForm">
                      <div class="col-sm-6">
                        <label class="form-label">First Name</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="firstName"
                        />
                        <div class="invalid">
                          {{
                            signUpForm.get("firstName")?.touched
                              ? signUpForm.get("firstName")?.errors?.required
                                ? "First Name Required"
                                : signUpForm.get("firstName")?.errors?.pattern
                                ? "Invalid First Name"
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label">Last Name</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="lastName"
                        />
                        <div class="invalid">
                          {{
                            signUpForm.get("lastName")?.touched
                              ? signUpForm.get("lastName")?.errors?.required
                                ? "Last Name required."
                                : signUpForm.get("lastName")?.errors?.pattern
                                ? "Last Name Required"
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-12">
                        <label class="form-label">Company Name</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="companyName"
                        />
                        <div class="invalid">
                          {{
                            signUpForm.get("companyName")?.touched
                              ? signUpForm.get("companyName")?.errors?.required
                                ? "Company Name required."
                                : signUpForm.get("companyName")?.errors?.pattern
                                ? "Invalid Company Name"
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-12">
                        <label class="form-label">Email Address</label>
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                        />
                        <div class="invalid">
                          {{
                            signUpForm.get("email")?.touched
                              ? signUpForm.get("email")?.errors?.required
                                ? "Email is required."
                                : signUpForm.get("email")?.invalid
                                ? "Invalid Email."
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-12">
                        <label class="form-label">Password</label>
                        <div class="input-group" id="show_hide_password">
                          <input
                            type="password"
                            class="form-control border-end-0"
                            formControlName="password"
                            [type]="show ? 'password' : 'text'"
                          />
                          <a
                            href="javascript:;"
                            (click)="$event.preventDefault(); show = !show"
                            class="input-group-text bg-transparent"
                            ><i class="bx bx-hide"></i
                          ></a>
                        </div>
                        <div class="invalid">
                          {{
                            signUpForm.get("password")?.touched
                              ? signUpForm.get("password")?.errors?.required
                                ? "Password is required."
                                : signUpForm.get("password")?.errors?.pattern
                                ? "Password must be minimum of 8 characters should contain lowercase letter, capital letter and numbers."
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-12">
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group" id="show_hide_cPassword">
                          <input
                            type="password"
                            class="form-control border-end-0"
                            formControlName="cPassword"
                            [type]="cShow ? 'password' : 'text'"
                          />
                          <a
                            href="javascript:;"
                            (click)="$event.preventDefault(); cShow = !cShow"
                            class="input-group-text bg-transparent"
                            ><i class="bx bx-hide"></i
                          ></a>
                        </div>
                        <div class="invalid">
                          {{
                            signUpForm.get("cPassword")?.touched
                              ? signUpForm.get("cPassword")?.errors?.required
                                ? "Confirm Password is required."
                                : signUpForm.get("cPassword")?.errors?.pattern
                                ? "Confirm Password must be minimum of 8 characters should contain lowercase letter, capital letter and numbers."
                                : signUpForm.get("cPassword")?.errors
                                    ?.errorRepeatPassword
                                ? "Password & Confirm password not match."
                                : ""
                              : ""
                          }}
                        </div>
                      </div>

                      <div class="col-12">
                        <form [formGroup]="aFormGroup">
                          <ngx-recaptcha2
                            [siteKey]="captchaSiteKey"
                            (success)="handleSuccess($event)"
                            formControlName="recaptcha"
                          >
                          </ngx-recaptcha2>
                        </form>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            (click)="onSignUp()"
                          >
                            <i class="bx bx-user"></i>Register
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="login-separater text-center mb-4">
                    <span>OR SIGN UP WITH GOOGLE OR MICROSOFT</span>
                    <hr />
                  </div>
                  <app-social-auth></app-social-auth>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
  <!--end wrapper-->
</div>
