.msg-container{
    width:100%;
    
}
.switcher-body{
    height: 90%;
}

input-box{
    width: 100%;
    padding-left: 12px;
}

.start-conversion{
    padding: 0.5rem;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    form{
        width: 100%;
        textarea{
            width: 80%;
        }
        .buttons{
            width: 15%;
            button{
                float: right;
            }
        }
    }
}


.no-message{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg-body{
   &__date-title{
    text-align: center;
    color: #5a5a5a;
   } 
}