<div class="bg-login">
  <!--wrapper-->
  <div class="wrapper">
    <div
      class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0"
    >
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col mx-auto">
            <div class="mb-4 text-center">
              <img
                src="assets/images/icons/flex-bi-logo.png"
                width="180"
                alt=""
              />
            </div>
            <div class="card">
              <div class="card-body">
                <div class="border p-4 rounded">
                  <div class="text-center">
                    <img
                      src="assets/images/icons/forget.png"
                      width="120"
                      alt=""
                    />
                  </div>

                  <div class="form-body">
                    <div *ngIf="step === 0">
                      <form class="row g-3" [formGroup]="form">
                        <div class="col-12">
                          <label class="form-label">Email Address</label>
                          <input
                            type="email"
                            class="form-control"
                            formControlName="emailId"
                          />
                          <div class="invalid">
                            {{
                              form.get("UserName")?.touched
                                ? form.get("UserName")?.errors?.required
                                  ? "Email is required."
                                  : form.get("UserName")?.invalid
                                  ? "Invalid Email."
                                  : ""
                                : ""
                            }}
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button
                              type="submit"
                              class="btn btn-primary"
                              (click)="requestForgetPassword()"
                            >
                              Send
                            </button>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="d-grid">
                            <button
                              type="submit"
                              class="btn btn-white shadow-sm"
                              (click)="onSignIn()"
                            >
                              Sign In
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- Change Password -->
                    <div *ngIf="step === 1">
                      <form class="row g-3" [formGroup]="resetForm">
                        <div class="col-12">
                          <label for="inputChoosePassword" class="form-label"
                            >New Password</label
                          >
                          <div class="input-group" id="show_hide_password">
                            <input
                              [type]="show ? 'password' : 'text'"
                              class="form-control border-end-0"
                              formControlName="password"
                            />
                            <a
                              (click)="$event.preventDefault(); show = !show"
                              class="input-group-text bg-transparent"
                              ><i class="bx bx-hide"></i
                            ></a>
                          </div>
                          <div class="invalid">
                            {{
                              resetForm.get("password")?.touched
                                ? resetForm.get("password")?.errors?.required
                                  ? "Password is required."
                                  : resetForm.get("password")?.errors?.pattern
                                  ? "Invalid Password."
                                  : ""
                                : ""
                            }}
                          </div>
                        </div>
                        <div class="col-12">
                          <label class="form-label">Confirm Password</label>
                          <div class="input-group" id="show_hide_cPassword">
                            <input
                              type="password"
                              class="form-control border-end-0"
                              formControlName="cPassword"
                              [type]="cShow ? 'password' : 'text'"
                            />
                            <a
                              href="javascript:;"
                              (click)="$event.preventDefault(); cShow = !cShow"
                              class="input-group-text bg-transparent"
                              ><i class="bx bx-hide"></i
                            ></a>
                          </div>
                          <div class="invalid">
                            {{
                              resetForm.get("cPassword")?.touched
                                ? resetForm.get("cPassword")?.errors?.required
                                  ? "Confirm Password is required."
                                  : resetForm.get("cPassword")?.errors
                                      ?.errorRepeatPassword
                                  ? "New Password & Confirm password not match.."
                                  : ""
                                : ""
                            }}
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button
                              type="submit"
                              class="btn btn-primary"
                              (click)="onForgetPassword()"
                            >
                              Submit
                            </button>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="d-grid">
                            <button
                              type="submit"
                              class="btn btn-white shadow-sm"
                              (click)="onSignIn()"
                            >
                              Sign In
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
  <!--end wrapper-->
</div>
