<div class="bg-login">
  <!--wrapper-->
  <div class="wrapper">
    <div
      class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0"
    >
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
          <div class="col mx-auto">
            <div class="mb-4 text-center">
              <img
                src="assets/images/icons/flex-bi-logo.png"
                width="180"
                alt=""
              />
            </div>
            <div class="card">
              <div class="card-body">
                <div class="border p-4 rounded">
                  <div class="text-center">
                    <h3 class="" [title]="loginType">Sign In</h3>
                    <p>
                      Don't have an account ?
                      <a href="JavaScript:;" (click)="onSignup()">Sign up</a>
                    </p>
                  </div>

                  <div class="form-body">
                    <form class="row g-3" [formGroup]="form">
                      <div class="col-12">
                        <label for="inputEmailAddress" class="form-label"
                          >Email Address</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          formControlName="UserName"
                        />
                        <div class="invalid">
                          {{
                            form.get("UserName")?.touched
                              ? form.get("UserName")?.errors?.required
                                ? "Email is required."
                                : form.get("UserName")?.invalid
                                ? "Invalid Email."
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="inputChoosePassword" class="form-label"
                          >Enter Password</label
                        >
                        <div class="input-group" id="show_hide_password">
                          <input
                            [type]="show ? 'password' : 'text'"
                            class="form-control border-end-0"
                            formControlName="PassWord"
                          />
                          <a
                            (click)="$event.preventDefault(); show = !show"
                            class="input-group-text bg-transparent"
                            ><i class="bx bx-hide"></i
                          ></a>
                        </div>
                        <div class="invalid">
                          {{
                            form.get("PassWord")?.touched
                              ? form.get("PassWord")?.errors?.required
                                ? "Password is required."
                                : form.get("PassWord")?.errors?.pattern
                                ? "Invalid Password."
                                : ""
                              : ""
                          }}

                          {{
                            form.get("PassWord")?.touched
                              ? form.get("PassWord")?.errors?.required
                                ? "Password is required."
                                : form.get("PassWord")?.errors?.pattern
                                ? "Password must be minimum of 8 characters should contain lowercase letter, capital letter and numbers."
                                : ""
                              : ""
                          }}
                        </div>
                      </div>
                      <div class="col-md-12 text-end float-right">
                        <a href="JavaScript:;" (click)="onForgotpassword()"
                          >Forgot Password ?</a
                        >
                      </div>
                      <div class="col-12">
                        <form [formGroup]="aFormGroup">
                          <ngx-recaptcha2
                            [siteKey]="captchaSiteKey"
                            (success)="handleSuccess($event)"
                            formControlName="recaptcha"
                          >
                          </ngx-recaptcha2>
                        </form>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            (click)="onLogin()"
                          >
                            <i class="bx bxs-lock-open"></i>Sign in
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="login-separater text-center mb-4">
                    <span>OR SIGN IN WITH EMAIL</span>
                    <hr />
                  </div>
                  <app-social-auth></app-social-auth>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
  <!--end wrapper-->
</div>
