<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3" style="justify-content: space-between;">
  <div class="breadcrumb-title pe-3" style="width: 65%;border-right: none;">WFM Integration</div>

  
  <div>
    <button
            class="btn btn-flexbi"
            [disabled]="(stepperIndex > 1 && !allDataLoadComplete) || anotherDataLoadIsInProgress"
            (click)="getWFMBtnLink()"
          >
            Authenticate to WFM
          </button>
  </div>
</div>

<hr>

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div>
    <!-- <form [formGroup]="form"> -->
      <select *ngIf="tenantList && tenantList.length > 0" class="form-control form-select" [(ngModel)]="selectedTenantId" (change)="onSearch($event)">
        <option [ngValue]="null" disabled >Select Tenant</option>
        <option [ngValue]="tenant.TenantId" *ngFor="let tenant of tenantList">
          {{ tenant.TenantName }}
        </option>
      </select>
      <span style="width: 180px;display: block;" *ngIf="!tenantList || tenantList.length <=0">&nbsp;&nbsp;</span>
    <!-- </form> -->
  </div>
  <div class="font-22 text-primary" *ngIf="tenantList && tenantList.length > 0" style="margin-left: 20px;">
    <button class="btn btn-flexbi" (click)="refreshStepperFromUI()"><i class="fadeIn animated bx bx-refresh"></i></button>
  </div>
</div>

<div *ngIf="!selectedTenantId && tenantList && tenantList.length > 0" style="text-align: center; margin-top: 40px">
  <label style="font-size: 18px; color: maroon"
    >Please select Tenant.</label
  >
</div>

<div *ngIf="!tenantList || tenantList.length <=0" style="text-align: center; margin-top: 40px">
  <label style="font-size: 18px; color: maroon;display: block;">Please Authenticate to WFM to load the data.</label>
  <label style="color: blue;cursor: pointer;" (click)="getWFMBtnLink()">Authenticate to WFM</label>
</div>

<div class="xero-status" *ngIf="selectedTenantId">
  <div class="card status-bar">
    <div class="title">Please wait to complete below all the steps</div>

    <div class="step-holder">
      <div
        class="step"
        class="{{ getMyStatusClass(2) }}"
        [class.running]="stepperIndex + 1 === 2"
      >
        <div class="label">
          <img
            src="../../../assets/data-load/1.png"
            alt="WFM Authentication"
          />
          <span> WFM Authentication </span>
        </div>

        <div class="scale">
          <span> 1 </span>
        </div>

        <div class="action-btn">
          &nbsp;&nbsp;
          <!-- <button
            class="btn btn-flexbi"
            [disabled]="stepperIndex > 1 && !allDataLoadComplete"
            (click)="getWFMBtnLink()"
          >
            Authenticate to WFM
          </button> -->
        </div>
      </div>

      <div
        class="step"
        class="{{ getMyStatusClass(3) }}"
        [class.running]="stepperIndex + 1 === 3"
      >
        <div class="label">
          <img src="../../../assets/data-load/2.png" alt="WFm Data Load" />
          <span> WFM Data Load </span>
        </div>
        <div class="scale">
          <span> 2 </span>
        </div>
      </div>

      <div
        class="step"
        class="{{ getMyStatusClass(4) }}"
        [class.running]="stepperIndex + 1 === 4"
      >
        <div class="label">
          <img src="../../../assets/data-load/4.png" alt="WFM Data Upload" />
          <span> WFM Data Upload </span>
        </div>
        <div class="scale">
          <span> 3 </span>
        </div>
      </div>

      <div
        class="step"
        class="{{ getMyStatusClass(5) }} "
        [class.running]="stepperIndex + 1 === 5"
      >
        <div class="label">
          <img src="../../../assets/data-load/5.png" alt="Process Completed" />
          <span> Process Completed </span>
        </div>
        <div class="scale">
          <span> 4 </span>
        </div>

        <!-- <div class="action-btn">
          <button
            (click)="showReport()"
            [disabled]="!showReportActive && stepperIndex < 4"
            class="btn btn-flexbi"
          >
            Show Dashbaord
          </button>
        </div> -->
      </div>
    </div>

    <div class="error" *ngIf="showError">{{ errorText }}</div>
    <div class="success" *ngIf="allDataLoadComplete">Data load process completed successfully.</div>
  </div>
</div>

<!-- XERO authentication 
XERO DATA LOAD
Dashbaord Creation
DATASET Refersh 
Process Completed
-->
<!-- => click redirect show report page -->
