.xero-report {
  height: 80vh;
  .col-sm-12 {
    height: 100%;
  }
}

.center{
  margin: auto;
  text-align: center;
}

.mg-15{
  margin-bottom: 25px;
}

.bg-white{
  background-color: #fff;
}

.section-label{
  height: 50px;
  color: #fff;
  background-color: #21cead;
  padding: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12px);
  margin-left: 12px;
  .buttons{
    float: right;
    button{
      font-size: 12px;
    }
  }
}


.action{
  margin-left: auto;
}
